parameters:
    level: 3
    paths:
        - Attribute/
        - DependencyInjection/
        - EventListener/
        - Events/
        - Exception/
        - Resources/
        - Service/
        - Util/
    excludePaths:
        - EventListener/OauthKeyGenerateListener.php
