parameters:
	ignoreErrors:
		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Attribute\\RateLimit\:\:__construct\(\) has parameter \$methods with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: Attribute/RateLimit.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Attribute\\RateLimit\:\:getMethods\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: Attribute/RateLimit.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Attribute\\RateLimit\:\:setMethods\(\) has parameter \$methods with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: Attribute/RateLimit.php

		-
			message: '#^Property Noxlogic\\RateLimitBundle\\Attribute\\RateLimit\:\:\$methods type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: Attribute/RateLimit.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\DependencyInjection\\NoxlogicRateLimitExtension\:\:loadServices\(\) has parameter \$config with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: DependencyInjection/NoxlogicRateLimitExtension.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\EventListener\\BaseListener\:\:getParameter\(\) has parameter \$name with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: EventListener/BaseListener.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\EventListener\\BaseListener\:\:setParameter\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: EventListener/BaseListener.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\EventListener\\BaseListener\:\:setParameter\(\) has parameter \$name with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: EventListener/BaseListener.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\EventListener\\BaseListener\:\:setParameter\(\) has parameter \$value with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: EventListener/BaseListener.php

		-
			message: '#^Property Noxlogic\\RateLimitBundle\\EventListener\\BaseListener\:\:\$parameters type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: EventListener/BaseListener.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\EventListener\\HeaderModificationListener\:\:__construct\(\) has parameter \$defaultParameters with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: EventListener/HeaderModificationListener.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\EventListener\\HeaderModificationListener\:\:onKernelResponse\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: EventListener/HeaderModificationListener.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\EventListener\\RateLimitAnnotationListener\:\:getRateLimitsFromAttributes\(\) has parameter \$controller with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: EventListener/RateLimitAnnotationListener.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Events\\GenerateKeyEvent\:\:__construct\(\) has parameter \$key with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: Events/GenerateKeyEvent.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Events\\GenerateKeyEvent\:\:__construct\(\) has parameter \$payload with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: Events/GenerateKeyEvent.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Events\\GenerateKeyEvent\:\:addToKey\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: Events/GenerateKeyEvent.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Events\\GenerateKeyEvent\:\:addToKey\(\) has parameter \$part with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: Events/GenerateKeyEvent.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Events\\GenerateKeyEvent\:\:setKey\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: Events/GenerateKeyEvent.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\RateLimitInfo\:\:setCalls\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: Service/RateLimitInfo.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\RateLimitInfo\:\:setLimit\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: Service/RateLimitInfo.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\RateLimitInfo\:\:setResetTimestamp\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: Service/RateLimitInfo.php

		-
			message: '#^Property Noxlogic\\RateLimitBundle\\Service\\RateLimitInfo\:\:\$calls has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: Service/RateLimitInfo.php

		-
			message: '#^Property Noxlogic\\RateLimitBundle\\Service\\RateLimitInfo\:\:\$limit has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: Service/RateLimitInfo.php

		-
			message: '#^Property Noxlogic\\RateLimitBundle\\Service\\RateLimitInfo\:\:\$resetTimestamp has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: Service/RateLimitInfo.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\RateLimitService\:\:createRate\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: Service/RateLimitService.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\RateLimitService\:\:createRate\(\) has parameter \$key with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: Service/RateLimitService.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\RateLimitService\:\:createRate\(\) has parameter \$limit with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: Service/RateLimitService.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\RateLimitService\:\:createRate\(\) has parameter \$period with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: Service/RateLimitService.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\RateLimitService\:\:limitRate\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: Service/RateLimitService.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\RateLimitService\:\:limitRate\(\) has parameter \$key with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: Service/RateLimitService.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\RateLimitService\:\:resetRate\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: Service/RateLimitService.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\RateLimitService\:\:resetRate\(\) has parameter \$key with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: Service/RateLimitService.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\RateLimitService\:\:setStorage\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: Service/RateLimitService.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\Storage\\DoctrineCache\:\:createRate\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: Service/Storage/DoctrineCache.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\Storage\\DoctrineCache\:\:createRateInfo\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: Service/Storage/DoctrineCache.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\Storage\\DoctrineCache\:\:createRateInfo\(\) has parameter \$info with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: Service/Storage/DoctrineCache.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\Storage\\DoctrineCache\:\:resetRate\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: Service/Storage/DoctrineCache.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\Storage\\DoctrineCache\:\:resetRate\(\) has parameter \$key with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: Service/Storage/DoctrineCache.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\Storage\\Memcache\:\:createRate\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: Service/Storage/Memcache.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\Storage\\Memcache\:\:createRateInfo\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: Service/Storage/Memcache.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\Storage\\Memcache\:\:createRateInfo\(\) has parameter \$info with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: Service/Storage/Memcache.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\Storage\\Memcache\:\:resetRate\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: Service/Storage/Memcache.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\Storage\\Memcache\:\:resetRate\(\) has parameter \$key with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: Service/Storage/Memcache.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\Storage\\PhpRedis\:\:createRate\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: Service/Storage/PhpRedis.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\Storage\\PhpRedis\:\:resetRate\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: Service/Storage/PhpRedis.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\Storage\\PhpRedis\:\:resetRate\(\) has parameter \$key with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: Service/Storage/PhpRedis.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\Storage\\PhpRedis\:\:sanitizeRedisKey\(\) has parameter \$key with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: Service/Storage/PhpRedis.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\Storage\\PsrCache\:\:createRate\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: Service/Storage/PsrCache.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\Storage\\PsrCache\:\:createRateInfo\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: Service/Storage/PsrCache.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\Storage\\PsrCache\:\:createRateInfo\(\) has parameter \$info with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: Service/Storage/PsrCache.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\Storage\\PsrCache\:\:resetRate\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: Service/Storage/PsrCache.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\Storage\\PsrCache\:\:resetRate\(\) has parameter \$key with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: Service/Storage/PsrCache.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\Storage\\Redis\:\:createRate\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: Service/Storage/Redis.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\Storage\\Redis\:\:resetRate\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: Service/Storage/Redis.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\Storage\\Redis\:\:resetRate\(\) has parameter \$key with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: Service/Storage/Redis.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\Storage\\Redis\:\:sanitizeRedisKey\(\) has parameter \$key with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: Service/Storage/Redis.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\Storage\\SimpleCache\:\:createRate\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: Service/Storage/SimpleCache.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\Storage\\SimpleCache\:\:createRateInfo\(\) has parameter \$info with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: Service/Storage/SimpleCache.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\Storage\\SimpleCache\:\:resetRate\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: Service/Storage/SimpleCache.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\Storage\\SimpleCache\:\:resetRate\(\) has parameter \$key with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: Service/Storage/SimpleCache.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\Storage\\StorageInterface\:\:createRate\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: Service/Storage/StorageInterface.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\Storage\\StorageInterface\:\:resetRate\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: Service/Storage/StorageInterface.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Service\\Storage\\StorageInterface\:\:resetRate\(\) has parameter \$key with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: Service/Storage/StorageInterface.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Util\\PathLimitProcessor\:\:methodMatched\(\) has parameter \$expectedMethods with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: Util/PathLimitProcessor.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Util\\PathLimitProcessor\:\:methodMatched\(\) has parameter \$method with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: Util/PathLimitProcessor.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Util\\PathLimitProcessor\:\:pathMatched\(\) has parameter \$expectedPath with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: Util/PathLimitProcessor.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Util\\PathLimitProcessor\:\:pathMatched\(\) has parameter \$path with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: Util/PathLimitProcessor.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Util\\PathLimitProcessor\:\:requestMatched\(\) has parameter \$method with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: Util/PathLimitProcessor.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Util\\PathLimitProcessor\:\:requestMatched\(\) has parameter \$path with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: Util/PathLimitProcessor.php

		-
			message: '#^Method Noxlogic\\RateLimitBundle\\Util\\PathLimitProcessor\:\:requestMatched\(\) has parameter \$pathLimit with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: Util/PathLimitProcessor.php
